/* * {
    border: 1px solid red;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-list-items {
    display: flex;
    color: white;
    text-align: right;
}

h1 {
    position: absolute;
    bottom: 400px;
    left: 600px;
    color: white;
    font-size: 120px;
}

ul {
    list-style: none;
}

.main-section {
    position: relative;
}

.middle-section-header {
    border: 5px solid rgb(231, 231, 231);
    width: 1000px;
    margin-top: 100px;
    margin-left: 450px;
    padding-left: 75px;
    background-color: rgb(243, 242, 242);
}

.middle-section-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(231, 231, 231);
    width: 1000px;
}

.container1 img {
    height: auto;
    width: auto;
    padding: 50px;
}

.container2 {
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(231, 231, 231);
    width: 1000px;
}

.container2 img {
    height: auto;
    width: auto;
    padding: 50px;
}

.container3 {
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(231, 231, 231);
    width: 1000px;
}

.container3 img {
    height: auto;
    width: auto;
    padding: 50px;
}

.container4 {
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(231, 231, 231);
    width: 1000px;
}

.container4 img {
    height: auto;
    width: auto;
    padding: 50px;
}

button {
    color: white;
    background-color: orange;
    padding-top: 10px;
    margin-left: 190px;
    width: 100px;
    border: 1px solid rgb(214, 139, 1);
}

footer {
    background-color: black;
    color: white;
    display: flex;
}

.footer-image {
    padding: 100px;
}

.footer-info {
    padding-top: 100px;
    width: 33%;
}

.footer-info-list li {
    padding-bottom: 50px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.footer-shows {
    padding-top: 100px;
    width: 33%;
}

.footer-shows li {
    padding-bottom: 50px;
    font-size: 12px;
}

.footer-social {
    padding-top: 100px;
    width: 33%;
}

.footer-social li {
    padding-bottom: 50px;
    font-size: 12px;
}

h1 {
    text-align: center;
}

h4 {
    padding-left: 35px;
    margin-bottom: 40px;
}

h5 {
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 50px;
}

li {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 300px;
}







